h2 {
    color: white;
    font-size: 2em;

}
.cards{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    justify-content: center;
    


}
.par_1{
    background-color: #FFFFFF; 
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
    width: fit-content;
}
.divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em;
    color :#333333;
 
    font-size: 2em;
  }
  
  .divider::before {
    content: "";
    flex: 0.9;          
    border-bottom: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .divider::after {
    content: "";
    flex: 1;           
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
  }
  