.glowing-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh; 
    pointer-events: none; 
    overflow: hidden;
    z-index: -1; 
  }
  
  .square {
    position: absolute;
    border-radius: 4px;
    opacity: 0.4;
  }
  