.contact-section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
  
  .contact-section h2 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333333;
  }
  .subsection{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-right: 2em;
  }
  .contact-info p {
    font-size: 1.1em;
    margin: 8px 0;
  }
  ul{

    list-style: none;
    text-align: left;
  }
  
  .contact-info a {
    color: #4a90e2;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .icon {
   font-size: 10em;
  margin-left: 1em;
  margin-top: 0.2em;
}