nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2d2222;
    
    color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.25rem;
  }
 
  
  nav ul {
    display: flex;
   gap: 2em;
    list-style: none;
    margin-right: 4em;
  }
  nav li {
    margin-left: 1em;
  }
  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  nav li:hover{
   color: palevioletred;
 
}
  