.projects-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .projects-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    color: #333333;
  }
  
  .project-card {
   
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
   
  }
  
  
 
  
  .project-card h3 {
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #333333;
  }
  
  .project-card p {
    color: #555555;
    line-height: 1.5;
  }
  
  /* Carousel container */
  .carousel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center; /* center carousel content */
   
  }
  
  /* Carousel images */
  .carousel img {
    width: 30em;
    max-width: 400px;
    height: 30em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Image hover effect */
  .carousel img:hover {
   
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }
  
  /* Carousel buttons */
  .carousel button {
    background-color: #4b5662;
    
    border: none;
    padding: 8px 12px;
    border-radius: 60%;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease;
  }
  
  .carousel button:hover {
    background-color: #2575fc;
  }
  
 
  
  